In [3]:
import pandas as pd

In [12]:
data = pd.read_excel('StudentParticipationAggregate_EndofYear.xlsx')
#data.head()

In [14]:
#check the shape of data
data.shape
# has 700 rows and 100 columns

(700, 100)

In [8]:
#column names to see which i want to keep
data.columns

Index(['School Year', 'District Number', 'districtName',
       'Learning Model for Date Range', 'Total Students',
       'Total Days Scheduled', 'Participation Days', 'Non Participation Days',
       '% Participated', 'Total Male', 'Days Scheduled - Male',
       'Participation Days - Male', 'Non Participation Days - Male',
       '% Participated - Male', 'Total Female', 'Days Scheduled - Female',
       'Participation Days - Female', 'Non Participation Days - Female',
       '% Participated - Female', 'Total White', 'Days Scheduled - White',
       'Participation Days - White', 'Non Participation Days - White',
       '% Participated - White', 'Total Black', 'Days Scheduled - Black',
       'Participation Days - Black', 'Non Participation Days - Black',
       '% Participated - Black', 'Total Hispanic', 'Days Scheduled - Hispanic',
       'Participation Days - Hispanic', 'Non Participation Days - Hispanic',
       '% Participated - Hispanic', 'Total Asian', 'Days Scheduled - Asian',
       'Participation Days - Asian', 'Non Participation Days - Asian',
       '% Participated - Asian', 'Total American Indian/Alaska Native',
       'Days Scheduled - American Indian or Alaska Native',
       'Participation Days - American Indian or Alaska Native',
       'Non Participation Days - American Indian or Alaska Native',
       '% Participated - American Indian or Alaska Native',
       'Total Native Hawaiian/Pacific Islander',
       'Days Scheduled - Native Hawaiian or Other Pacific Islander',
       'Participation Days - Native Hawaiian or Other Pacific Islander',
       'Non Participation Days - Native Hawaiian or Other Pacific Islander',
       '% Participated - Native Hawaiian or Other Pacific Islander',
       'Total Two or More Races', 'Days Scheduled - Two or More Races',
       'Participation Days - Two or More Races',
       'Non Participation Days - Two or More Races',
       '% Participated - Two or More Races',
       'Total Economically Disadvantaged',
       'Days Scheduled - Economically Disadvantaged',
       'Participation Days - Economically Disadvantaged',
       'Non Participation Days - Economically Disadvantaged',
       '% Participated - Economically Disadvantaged',
       'Total Special Education', 'Days Scheduled - Special Education',
       'Participation Days - Special Education',
       'Non Participation Days - Special Education',
       '% Participated - Special Education', 'Total English Learners',
       'Days Scheduled - English Learners',
       'Participation Days - English Learners',
       'Non Participation Days - English Learners',
       '% Participated - English Learners', 'Total Program 504',
       'Days Scheduled - Program 504', 'Participation Days - Program 504',
       'Non Participation Days - Program 504', '% Participated - Program 504',
       'Total Homeless', 'Days Scheduled - Homeless',
       'Participation Days - Homeless', 'Non Participation Days - Homeless',
       '% Participated - Homeless', 'Total Foster Care',
       'Days Scheduled - Foster Care', 'Participation Days - Foster Care',
       'Non Participation Days - Foster Care', '% Participated - Foster Care',
       'Total Gifted Talented', 'Days Scheduled - Gifted Talented',
       'Participation Days - Gifted Talented',
       'Non Participation Days - Gifted Talented',
       '% Participated - Gifted Talented', 'Total Migrant',
       'Days Scheduled - Migrant', 'Participation Days - Migrant',
       'Non Participation Days - Migrant', '% Participated - Migrant',
       'Total Military Connected', 'Days Scheduled - Military Connected',
       'Participation Days - Military Connected',
       'Non Participation Days - Military Connected',
       '% Participated - Military Connected', 'Report Date Range'],
      dtype='object')

In [17]:
# creating new dataframe with only the columns i need
new_headers = ['School Year', 'District Number', 'districtName',
       'Learning Model for Date Range', 'Total Students',
       'Total Days Scheduled', 'Participation Days', 'Non Participation Days', 'Report Date Range']
dataset = pd.DataFrame(data, columns=new_headers)
dataset

,School Year,District Number,districtName,Learning Model for Date Range,Total Students,Total Days Scheduled,Participation Days,Non Participation Days,Report Date Range
0,20202021,1.0,Adair County,All,2840.0,417583.0,351396.0,66187.0,07/01/2020-06/28/2021
1,20202021,1.0,Adair County,Hybrid,2248.0,353932.0,301508.0,52424.0,07/01/2020-06/28/2021
2,20202021,1.0,Adair County,In Person,180.0,5080.0,5077.0,3.0,07/01/2020-06/28/2021
3,20202021,1.0,Adair County,Remote,413.0,58571.0,44811.0,13760.0,07/01/2020-06/28/2021
4,20202021,5.0,Allen County,All,3126.0,488622.0,462018.0,26604.0,07/01/2020-06/28/2021
...,...,...,...,...,...,...,...,...,...
695,20202021,601.0,Woodford County,Hybrid,3349.0,537887.0,502389.0,35498.0,07/01/2020-06/28/2021
696,20202021,601.0,Woodford County,In Person,52.0,1378.0,1232.0,146.0,07/01/2020-06/28/2021
697,20202021,601.0,Woodford County,Remote,727.0,103461.0,91176.0,12285.0,07/01/2020-06/28/2021
698,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
699,"Source: Office of Finance and Operations, Kent...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
dataset.shape
# 700 rows and 9 columns

(700, 9)

In [25]:
# Renaming DistrictName column
dataset.rename(columns={'DistrictName': 'District Name'}, inplace=True)
dataset

,School Year,District Number,District Name,Learning Model for Date Range,Total Students,Total Days Scheduled,Participation Days,Non Participation Days,Report Date Range
0,20202021,1.0,Adair County,All,2840.0,417583.0,351396.0,66187.0,07/01/2020-06/28/2021
1,20202021,1.0,Adair County,Hybrid,2248.0,353932.0,301508.0,52424.0,07/01/2020-06/28/2021
2,20202021,1.0,Adair County,In Person,180.0,5080.0,5077.0,3.0,07/01/2020-06/28/2021
3,20202021,1.0,Adair County,Remote,413.0,58571.0,44811.0,13760.0,07/01/2020-06/28/2021
4,20202021,5.0,Allen County,All,3126.0,488622.0,462018.0,26604.0,07/01/2020-06/28/2021
...,...,...,...,...,...,...,...,...,...
695,20202021,601.0,Woodford County,Hybrid,3349.0,537887.0,502389.0,35498.0,07/01/2020-06/28/2021
696,20202021,601.0,Woodford County,In Person,52.0,1378.0,1232.0,146.0,07/01/2020-06/28/2021
697,20202021,601.0,Woodford County,Remote,727.0,103461.0,91176.0,12285.0,07/01/2020-06/28/2021
698,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
699,"Source: Office of Finance and Operations, Kent...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
# by looking at data we can see that bottom two rows have nan values so we will get rid of it
# drop any rows that has nan values
dataset.dropna(how='any', inplace=True)
dataset.shape
# 2 rows with nan has been dropped

(698, 9)